@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.Net Alexa Skills Framework</h1>
    <p class="lead">This is a sample application that contains everything you need to get started developing skills for Alexa using .Net</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.Net MVC gives you all of the tools you need to build a comprehensive Application and corresponding API that will suppor Alexa skills.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Account Linking</h2>
        <p>Account linking is provided using an OWIN Oauth 2.0 Authorization server that is setup to provide access tokens for Alexa skills. Setup your account and update your user preferences to see for yourself./p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure Hosting</h2>
        <p>This application is hosted in Azure using an Azure App Service along with an Azure SQL Database back end.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>